<div id="<%= dom_id desenho %>">
  <p>
    <strong>Nome:</strong>
    <%= desenho.nome %>
  </p>

  <p>
    <strong>Datadelancamento:</strong>
    <%= desenho.dataDeLancamento %>
  </p>

  <p>
    <strong>Episodios:</strong>
    <%= desenho.episodios %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= desenho.descricao %>
  </p>

  <p>
    <strong>Diretor:</strong>
    <%= desenho.diretor %>
  </p>

</div>
