<p style="color: green"><%= notice %></p>

<%= render @desenho %>

<div>
  <%= link_to "Edit this desenho", edit_desenho_path(@desenho) %> |
  <%= link_to "Back to desenhos", desenhos_path %>

  <%= button_to "Destroy this desenho", @desenho, method: :delete %>
</div>
