<div id="<%= dom_id seriado %>">
  <p>
    <strong>Nome:</strong>
    <%= seriado.nome %>
  </p>

  <p>
    <strong>Datadelancamento:</strong>
    <%= seriado.dataDeLancamento %>
  </p>

  <p>
    <strong>Episodios:</strong>
    <%= seriado.episodios %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= seriado.descricao %>
  </p>

  <p>
    <strong>Diretor:</strong>
    <%= seriado.diretor %>
  </p>

</div>
